body{
  background-image: url(images/sunny-day.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  display: flex;
  justify-content: center;
}
.cat{
  width: 50%;
  height: 300px;
  margin: 30%;
  background-image: url(images/kitten-medium.png);
  background-size: 50%;
  background-repeat: no-repeat;
}
@media screen and (max-width: 800px) {
  body{
    background-image: url(images/night.jpg);
  }
  .cat{
    background-image: url(images/kitten-small.png);
  }
}
@media screen and (max-width: 480px) {
  body{
    background-image: url(images/dawn.png);
  }
  .cat{
    background-image: url(images/kitten-large.png);
  }
}
